<div class="row">
    <h1>My Profile</h1>
</div>

<div class="row">

    <div class="col sm-6 m-4">
        <div class="card card-profile">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#!" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col sm-6 m-4">
        <!-- Card Regular -->
        <div class="card ">

            <!-- Card image -->
            <div class="view ">
                <img class="card-img-top" src="{{user.name}}" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>oke</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2">More from oke</h6>
                <!-- Text -->
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                    recusandae.
                    Facere modi sunt, quod quibusdam.
                </p>

                <!-- Facebook -->
                <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!-- Twitter -->
                <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                <!-- Google + -->
                <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>

            </div>

        </div>
        <!-- Card Regular -->
    </div>

</div>
<!-- Card Regular -->