<!-- Default form login -->
<form class="text-center border border-light p-5" action="/login" method="POST">

    <h2>Login into your account</h2>
    <!-- Sign in button -->
    <a class="btn btn-primary btn-block my-4" href="/auth/google"><i class="fab fa-google"></i></i> Sign In With
        Google</a>
    <!-- Social login -->

</form>
<!-- Default form login -->