<!-- Default form login -->
<form class="text-center border border-light p-5" action="/login" method="POST">

    <h2>Login into your account</h2>
    <!-- Sign in button -->
    <a class="btn btn-primary btn-block my-4" href="/auth/google"><i class="fab fa-google"></i></i> Sign In With
        Google</a>
    <!-- Social login -->
    <a class="btn btn-primary btn-block my-4" href="/auth/facebook"><i class="fab fa-facebook"></i></i> Sign In With
        Facebook</a>
    <!-- Social login -->
    <a class="btn btn-primary btn-block my-4" href="/auth/login/github"><i class="fab fa-github"></i></i> Sign In With
        Github</a>
    <!-- Social login -->
</form>
<!-- Default form login -->