.login-container {
    width: 500px;
    margin-top: 90px;
    text-align: center;
}

.profile-container {
    width: 500px;
    margin-top: 90px;
    text-align: center;
    margin-left: auto;
}

#about {
    margin-top: 50px;
}



/* card options */