.login-container {
    width: 500px;
    margin-top: 90px;
    text-align: center;
}

.profile-container {
    width: 500px;
    margin-top: 90px;
    text-align: center;
    margin-left: auto;
}

.card-profile {
    width: 500px;
    text-align: center;
    margin-left: auto;
}